body {
  font-family: 'PxPlus IBM MDA';
  background-color: black;
}

.app {
  display: flex;
  flex-direction: row;
}

/* ControlPanel */

.controlPanel {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.buttons button {
  height: 72px;
  width: 72px;
  border: 4px double #ffffff;
  color: #ffffff;
  background-color: #000000;
  margin: 8px;
  padding: 0;
  box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0.8);
  font-family: 'PxPlus IBM MDA';
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttons button:active {
  box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.8);
  transform: translate(3px, 3px);
}

.buttons button img {
  margin-bottom: 8px;
}

/* Level Info */

.levelInfo {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
}

.levelInfo h1,
.sourceValues h2,
.sinkValues h2 {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.levelInfo .levelDescription {
  width: 100%;
  height: 128px;
  overflow: hidden;
  border: 4px double #ffffff;
  padding: 8px;
  text-transform: uppercase;
  box-sizing: border-box;
}

/* Level Values */

.levelValues {
  display: flex;
  flex: 1;
  flex-direction: row;
  box-sizing: border-box;
  padding: 16px 8px;
  color: #ffffff;
}

.sourceValues,
.sinkValues {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 8px;
}

.sinkValues > div {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sourceValues .values,
.sinkValues .values {
  width: 48px;
  height: 100%;
  border: 4px double #ffffff;
  overflow: hidden;
  box-sizing: border-box;
}


.sinkValues .objectiveValues {
  width: 44px;
  height: 100%;
  border-top: 4px double #ffffff;
  border-bottom: 4px double #ffffff;
  border-left: 4px double #ffffff;
  overflow: hidden;
  box-sizing: border-box;
}

.sourceValues .values p,
.sinkValues .values p,
.sinkValues .objectiveValues p {
  text-align: center;
}

/* NodeGrid */

.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 48px 0 0 48px;
  align-items: center;
  justify-content: center;
}

.gridRow {
  display: flex;
  flex-direction: row;
}

/* Sinks n Sources */

.sinks,
.sources {
  display: flex;
  flex-direction: row;
}

.sinks {
  margin-top: -48px;
}

.nullSink,
.nullSource {
  width: 228px;
  margin-right: 48px;
}

.sink,
.source {
  color: #ffffff;
  background-color: #000000;
  z-index: 11;
  height: 48px;
  width: 228px;
  margin-right: 48px;
  padding-left: 56px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sink .arrow,
.source .arrow {
  height: 18px;
  width: 18px;
  transform: rotate(90deg);
}

.sink .value,
.source .value {
  height: 18px;
}

.source .info,
.sink .info {
  margin-left: 16px;
}

.source .info p {
  text-align: center;
}

/* Node */

.node {
  position: relative;
  height: 220px;
  width: 220px;
  color: white;
  border: 4px double #ffffff;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin: 0 48px 48px 0;
}

.node .editor {
  flex: 1;
  padding: 4px 0;
}

.node .editor input {
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  color: #ffffff;
  font-family: 'PxPlus IBM MDA';
  font-size: 16px;
  height: 14px;
  padding: 1px 8px;
  border: none;
  text-transform: uppercase;
}

.node .editor input.selected {
  background-color: #ffffff;
  color: #000000;
}

.node .editor input.blocked {
  background-color: #ffffff8c;
  color: #000000;
}

*:focus {
  outline: none;
}

.node .info {
  width: 60px;
}

.node .display {
  height: 52px;
  width: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4px 0 0;
  border-left: 4px double #ffffff;
  border-bottom: 4px double #ffffff;
}

.node .tooltip {
  color: #7c7c7c;
}

.port {
  position: absolute;
  z-index: 10;
  height: 48px;
  width: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.port .arrow {
  height: 18px;
  width: 18px;
}

.port .value {
  height: 18px;
}

.port.UP {
  top: -52px;
  left: 56px;
}

.port.UP .arrow {
  transform: rotate(90deg);
}

.port.RIGHT {
  right: -52px;
  bottom: 56px;
  flex-direction: column;
}

.port.port.RIGHT .arrow {
  transform: rotate(180deg);
}

.port.LEFT {
  left: -52px;
  top: 56px;
  flex-direction: column;
}

.port.DOWN {
  bottom: -52px;
  right: 56px;
}

.port.DOWN .arrow {
  transform: rotate(-90deg);
}

.errorMessage {
  display: flex;
  position: absolute;
  align-items: flex-end;
  width: 228px;
  height: 48px;
  left: -4px;
  top: -52px;
  z-index: 20;
  background-color: #000000;
  box-sizing: border-box;
  padding-bottom: 4px;
}

.errorMessage p {
  width: 100%;
  border: 4px solid #820a0a;
  color: #820a0a;
  text-align: center;
}
